.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        display: flex;
        width: 20vw;
        justify-content: space-between;

        &__title {
            font-weight: lighter;
            color: black;
        }
    }
}

.cart_icon {
  width: 30px;
  padding: 0 1rem;
}

.cart_quantity {
  align-items: center;
  position: absolute;
  right: 10px;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: red;
}

.link {
    height: 10px;
    color: black;
}

nav {
  width: 100%;
}

nav > ul {
    display: flex;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
  }
   
  nav ul {
    list-style-type: none;
  }
  
  nav > ul > li {
    background-color: white;
    position: relative;
    height: 100%;
    flex: 1;
  }

  nav > ul > li > a {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  li a {
    text-decoration: none;
    color: black;
  }

  .menu-deroulant {
      list-style-type: none ;
  }
  
  .menu-deroulant > a:after{
    list-style-type:none;
    content: 'â¯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
  }

  .sous-menu {
    z-index: 99;
    width: 10vw;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    top:35px;
    overflow: hidden;
    max-height: 0;
    position: absolute;
  }
  
  .sous-menu > li > a {
    position: relative;
    height: 50px;
    width: 50px;
    display: flex;
  }

  nav > ul > li:hover > a{
    color: #2169EC;
  }

  .sous-menu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
  }
  
  .sous-menu > li:hover > a {
    color: white;
  }

  @keyframes apparitionSousMenu {
    0% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
      border-top: 3px solid #2169EC;
    }
    30% {
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
      max-height: 50em;
      border-top: 3px solid #2169EC;
      box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
  }

  .menu-deroulant:hover > .sous-menu {
    animation: apparitionSousMenu 1s forwards;
  }