.Search {

    width: 48vw;

    &_input {
        padding-left: 5px;
        padding-right: 40px;
        width: 40vw;
        height: 20px;
        border-radius: 20px;
        border: solid 1px grey;
    }

    &_results {
        position: absolute;
        width: 42vw;
     //   top: 20;
     //   left: 20;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        max-height: 200px;
     //   overflow-y: auto;
        z-index: 99;
        border-radius: 10px;
        margin-left: 1vw;
    }

    &_item {
        min-width: 40vw;
        color: black;
        &:hover {
            div {
                background-color: #2169EC;
                color: white;
            }
        }
    }

    &_loupe {
        width: 2vw;
        position: relative;
        top: 5px; 
        left: -36px;
        max-height: 18px;
    }
}