.Search {

    &_input {
        width: 40vw;
        height: 20px;
        border-radius: 20px;
        border: solid 1px grey;
    }

    &_results {
        position: absolute;
        width: 40vw;
        top: 20;
        left: 20;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 10px;
        max-height: 200px;
        overflow-y: auto;
        z-index: 99;
    }

    &_loupe {
        position: relative;
        top: 5px; 
        left: -36px;
        max-height: 18px;
    }
}