.Template {
    display: flex;
    align-items: center;
    justify-content: center;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 30px;

        &__img {
            width: 150px;
        }
    }
}

.item-price {
    margin-top: 10px;
    color: black;
}

.item-name {
    color: black;
}